th, td {
  padding: 5px;
}

table {
  border-spacing: 2px;
}

.searchbar {
  overflow: hidden;
  background-color: #0317fc;
   float: right;
  display: block;
  color: black;
  width: 100%;
  text-align: right;
  padding: 19px 10px;
  text-decoration: none;
  font-size: 17px;
}
img {
	background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 150px;
  grid-gap: 50px;
}
.Computer {
  display: flex;
}
